# Base16 pandora
# Author: Cassandra Fox

set default-bg                  "#131213"
set default-fg                  "#2f1823"

set statusbar-fg                "#9b2a46"
set statusbar-bg                "#472234"

set inputbar-bg                 "#131213"
set inputbar-fg                 "#632227"

set notification-bg             "#131213"
set notification-fg             "#632227"

set notification-error-bg       "#131213"
set notification-error-fg       "#b00b69"

set notification-warning-bg     "#131213"
set notification-warning-fg     "#b00b69"

set highlight-color             "#ffcc00"
set highlight-active-color      "#008080"

set completion-bg               "#2f1823"
set completion-fg               "#008080"

set completion-highlight-fg     "#632227"
set completion-highlight-bg     "#008080"

set recolor-lightcolor          "#131213"
set recolor-darkcolor           "#81506a"
