# Base16 Primer Light
# Author: Jimmy Lin

set default-bg                  "#fafbfc"
set default-fg                  "#e1e4e8"

set statusbar-fg                "#444d56"
set statusbar-bg                "#d1d5da"

set inputbar-bg                 "#fafbfc"
set inputbar-fg                 "#1b1f23"

set notification-bg             "#fafbfc"
set notification-fg             "#1b1f23"

set notification-error-bg       "#fafbfc"
set notification-error-fg       "#d73a49"

set notification-warning-bg     "#fafbfc"
set notification-warning-fg     "#d73a49"

set highlight-color             "#ffd33d"
set highlight-active-color      "#0366d6"

set completion-bg               "#e1e4e8"
set completion-fg               "#0366d6"

set completion-highlight-fg     "#1b1f23"
set completion-highlight-bg     "#0366d6"

set recolor-lightcolor          "#fafbfc"
set recolor-darkcolor           "#24292e"
