# Base16 Tokyo City Light
# Author: Michaël Ball

set default-bg                  "#fbfbfd"
set default-fg                  "#f6f6f8"

set statusbar-fg                "#4c505e"
set statusbar-bg                "#edeff6"

set inputbar-bg                 "#fbfbfd"
set inputbar-fg                 "#171d23"

set notification-bg             "#fbfbfd"
set notification-fg             "#171d23"

set notification-error-bg       "#fbfbfd"
set notification-error-fg       "#8c4351"

set notification-warning-bg     "#fbfbfd"
set notification-warning-fg     "#8c4351"

set highlight-color             "#4c505e"
set highlight-active-color      "#34548a"

set completion-bg               "#f6f6f8"
set completion-fg               "#34548a"

set completion-highlight-fg     "#171d23"
set completion-highlight-bg     "#34548a"

set recolor-lightcolor          "#fbfbfd"
set recolor-darkcolor           "#1d252c"
