# Base16 Material
# Author: Nate Peterson

set default-bg                  "#263238"
set default-fg                  "#2e3c43"

set statusbar-fg                "#b2ccd6"
set statusbar-bg                "#314549"

set inputbar-bg                 "#263238"
set inputbar-fg                 "#ffffff"

set notification-bg             "#263238"
set notification-fg             "#ffffff"

set notification-error-bg       "#263238"
set notification-error-fg       "#f07178"

set notification-warning-bg     "#263238"
set notification-warning-fg     "#f07178"

set highlight-color             "#ffcb6b"
set highlight-active-color      "#82aaff"

set completion-bg               "#2e3c43"
set completion-fg               "#82aaff"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#82aaff"

set recolor-lightcolor          "#263238"
set recolor-darkcolor           "#eeffff"
