# Base16 Purpledream
# Author: malet

set default-bg                  "#100510"
set default-fg                  "#302030"

set statusbar-fg                "#bbb0bb"
set statusbar-bg                "#403040"

set inputbar-bg                 "#100510"
set inputbar-fg                 "#fff0ff"

set notification-bg             "#100510"
set notification-fg             "#fff0ff"

set notification-error-bg       "#100510"
set notification-error-fg       "#ff1d0d"

set notification-warning-bg     "#100510"
set notification-warning-fg     "#ff1d0d"

set highlight-color             "#f000a0"
set highlight-active-color      "#00a0f0"

set completion-bg               "#302030"
set completion-fg               "#00a0f0"

set completion-highlight-fg     "#fff0ff"
set completion-highlight-bg     "#00a0f0"

set recolor-lightcolor          "#100510"
set recolor-darkcolor           "#eee0ee"
