# Base16 Ayu Dark
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

set default-bg                  "#0f1419"
set default-fg                  "#131721"

set statusbar-fg                "#bfbdb6"
set statusbar-bg                "#272d38"

set inputbar-bg                 "#0f1419"
set inputbar-fg                 "#f3f4f5"

set notification-bg             "#0f1419"
set notification-fg             "#f3f4f5"

set notification-error-bg       "#0f1419"
set notification-error-fg       "#f07178"

set notification-warning-bg     "#0f1419"
set notification-warning-fg     "#f07178"

set highlight-color             "#ffb454"
set highlight-active-color      "#59c2ff"

set completion-bg               "#131721"
set completion-fg               "#59c2ff"

set completion-highlight-fg     "#f3f4f5"
set completion-highlight-bg     "#59c2ff"

set recolor-lightcolor          "#0f1419"
set recolor-darkcolor           "#e6e1cf"
