# Base16 Synthwave
# Author: Jamy Golden

set default-bg                  "#241734"
set default-fg                  "#2e223d"

set statusbar-fg                "#920075"
set statusbar-bg                "#541388"

set inputbar-bg                 "#241734"
set inputbar-fg                 "#ff4365"

set notification-bg             "#241734"
set notification-fg             "#ff4365"

set notification-error-bg       "#241734"
set notification-error-fg       "#ea5ad9"

set notification-warning-bg     "#241734"
set notification-warning-fg     "#ea5ad9"

set highlight-color             "#ff4365"
set highlight-active-color      "#6de0e7"

set completion-bg               "#2e223d"
set completion-fg               "#6de0e7"

set completion-highlight-fg     "#ff4365"
set completion-highlight-bg     "#6de0e7"

set recolor-lightcolor          "#241734"
set recolor-darkcolor           "#e959b7"
