# Base16 Material Lighter
# Author: Nate Peterson

set default-bg                  "#fafafa"
set default-fg                  "#e7eaec"

set statusbar-fg                "#8796b0"
set statusbar-bg                "#cceae7"

set inputbar-bg                 "#fafafa"
set inputbar-fg                 "#ffffff"

set notification-bg             "#fafafa"
set notification-fg             "#ffffff"

set notification-error-bg       "#fafafa"
set notification-error-fg       "#ff5370"

set notification-warning-bg     "#fafafa"
set notification-warning-fg     "#ff5370"

set highlight-color             "#ffb62c"
set highlight-active-color      "#6182b8"

set completion-bg               "#e7eaec"
set completion-fg               "#6182b8"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#6182b8"

set recolor-lightcolor          "#fafafa"
set recolor-darkcolor           "#80cbc4"
