# Base16 Solar Flare Light
# Author: Chuck Harmston (https://chuck.harmston.ch)

set default-bg                  "#f5f7fa"
set default-fg                  "#e8e9ed"

set statusbar-fg                "#667581"
set statusbar-bg                "#a6afb8"

set inputbar-bg                 "#f5f7fa"
set inputbar-fg                 "#18262f"

set notification-bg             "#f5f7fa"
set notification-fg             "#18262f"

set notification-error-bg       "#f5f7fa"
set notification-error-fg       "#ef5253"

set notification-warning-bg     "#f5f7fa"
set notification-warning-fg     "#ef5253"

set highlight-color             "#e4b51c"
set highlight-active-color      "#33b5e1"

set completion-bg               "#e8e9ed"
set completion-fg               "#33b5e1"

set completion-highlight-fg     "#18262f"
set completion-highlight-bg     "#33b5e1"

set recolor-lightcolor          "#f5f7fa"
set recolor-darkcolor           "#222e38"
