# Base16 Apathy
# Author: Jannik Siebert (https://github.com/janniks)

set default-bg                  "#031a16"
set default-fg                  "#0b342d"

set statusbar-fg                "#5f9c92"
set statusbar-bg                "#184e45"

set inputbar-bg                 "#031a16"
set inputbar-fg                 "#d2e7e4"

set notification-bg             "#031a16"
set notification-fg             "#d2e7e4"

set notification-error-bg       "#031a16"
set notification-error-fg       "#3e9688"

set notification-warning-bg     "#031a16"
set notification-warning-fg     "#3e9688"

set highlight-color             "#3e4c96"
set highlight-active-color      "#96883e"

set completion-bg               "#0b342d"
set completion-fg               "#96883e"

set completion-highlight-fg     "#d2e7e4"
set completion-highlight-bg     "#96883e"

set recolor-lightcolor          "#031a16"
set recolor-darkcolor           "#a7cec8"
