# Base16 Silk Light
# Author: Gabriel Fontes (https://github.com/Misterio77)

set default-bg                  "#e9f1ef"
set default-fg                  "#ccd4d3"

set statusbar-fg                "#4b5b5f"
set statusbar-bg                "#90b7b6"

set inputbar-bg                 "#e9f1ef"
set inputbar-fg                 "#d2faff"

set notification-bg             "#e9f1ef"
set notification-fg             "#d2faff"

set notification-error-bg       "#e9f1ef"
set notification-error-fg       "#cf432e"

set notification-warning-bg     "#e9f1ef"
set notification-warning-fg     "#cf432e"

set highlight-color             "#cfad25"
set highlight-active-color      "#39aac9"

set completion-bg               "#ccd4d3"
set completion-fg               "#39aac9"

set completion-highlight-fg     "#d2faff"
set completion-highlight-bg     "#39aac9"

set recolor-lightcolor          "#e9f1ef"
set recolor-darkcolor           "#0e3c46"
