# Base16 Gruvbox Material Light, Soft
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

set default-bg                  "#f2e5bc"
set default-fg                  "#ebdbb2"

set statusbar-fg                "#665c54"
set statusbar-bg                "#c9b99a"

set inputbar-bg                 "#f2e5bc"
set inputbar-fg                 "#282828"

set notification-bg             "#f2e5bc"
set notification-fg             "#282828"

set notification-error-bg       "#f2e5bc"
set notification-error-fg       "#c14a4a"

set notification-warning-bg     "#f2e5bc"
set notification-warning-fg     "#c14a4a"

set highlight-color             "#b47109"
set highlight-active-color      "#45707a"

set completion-bg               "#ebdbb2"
set completion-fg               "#45707a"

set completion-highlight-fg     "#282828"
set completion-highlight-bg     "#45707a"

set recolor-lightcolor          "#f2e5bc"
set recolor-darkcolor           "#3c3836"
