# Base16 Darktooth
# Author: Jason Milkins (https://github.com/jasonm23)

set default-bg                  "#1d2021"
set default-fg                  "#32302f"

set statusbar-fg                "#928374"
set statusbar-bg                "#504945"

set inputbar-bg                 "#1d2021"
set inputbar-fg                 "#fdf4c1"

set notification-bg             "#1d2021"
set notification-fg             "#fdf4c1"

set notification-error-bg       "#1d2021"
set notification-error-fg       "#fb543f"

set notification-warning-bg     "#1d2021"
set notification-warning-fg     "#fb543f"

set highlight-color             "#fac03b"
set highlight-active-color      "#0d6678"

set completion-bg               "#32302f"
set completion-fg               "#0d6678"

set completion-highlight-fg     "#fdf4c1"
set completion-highlight-bg     "#0d6678"

set recolor-lightcolor          "#1d2021"
set recolor-darkcolor           "#d5c4a1"
