# Base16 Da One Paper
# Author: NNB (https://github.com/NNBnh)

set default-bg                  "#faf0dc"
set default-fg                  "#c8c8c8"

set statusbar-fg                "#282828"
set statusbar-bg                "#888888"

set inputbar-bg                 "#faf0dc"
set inputbar-fg                 "#000000"

set notification-bg             "#faf0dc"
set notification-fg             "#000000"

set notification-error-bg       "#faf0dc"
set notification-error-fg       "#de5d6e"

set notification-warning-bg     "#faf0dc"
set notification-warning-fg     "#de5d6e"

set highlight-color             "#b3684f"
set highlight-active-color      "#5890f8"

set completion-bg               "#c8c8c8"
set completion-fg               "#5890f8"

set completion-highlight-fg     "#000000"
set completion-highlight-bg     "#5890f8"

set recolor-lightcolor          "#faf0dc"
set recolor-darkcolor           "#000000"
