# Base16 Gruber
# Author: Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme

set default-bg                  "#181818"
set default-fg                  "#453d41"

set statusbar-fg                "#e4e4ef"
set statusbar-bg                "#484848"

set inputbar-bg                 "#181818"
set inputbar-fg                 "#e4e4ef"

set notification-bg             "#181818"
set notification-fg             "#e4e4ef"

set notification-error-bg       "#181818"
set notification-error-fg       "#f43841"

set notification-warning-bg     "#181818"
set notification-warning-fg     "#f43841"

set highlight-color             "#ffdd33"
set highlight-active-color      "#96a6c8"

set completion-bg               "#453d41"
set completion-fg               "#96a6c8"

set completion-highlight-fg     "#e4e4ef"
set completion-highlight-bg     "#96a6c8"

set recolor-lightcolor          "#181818"
set recolor-darkcolor           "#f5f5f5"
