# Base16 Katy
# Author: George Essig (https://github.com/gessig)

set default-bg                  "#292d3e"
set default-fg                  "#444267"

set statusbar-fg                "#8796b0"
set statusbar-bg                "#5c598b"

set inputbar-bg                 "#292d3e"
set inputbar-fg                 "#ffffff"

set notification-bg             "#292d3e"
set notification-fg             "#ffffff"

set notification-error-bg       "#292d3e"
set notification-error-fg       "#6e98e1"

set notification-warning-bg     "#292d3e"
set notification-warning-fg     "#6e98e1"

set highlight-color             "#e0a557"
set highlight-active-color      "#82aaff"

set completion-bg               "#444267"
set completion-fg               "#82aaff"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#82aaff"

set recolor-lightcolor          "#292d3e"
set recolor-darkcolor           "#959dcb"
