# Base16 Tokyodark Terminal
# Author: Tiagovla (https://github.com/tiagovla/)

set default-bg                  "#11121d"
set default-fg                  "#1a1b2a"

set statusbar-fg                "#4a5057"
set statusbar-bg                "#212234"

set inputbar-bg                 "#11121d"
set inputbar-fg                 "#a0a8cd"

set notification-bg             "#11121d"
set notification-fg             "#a0a8cd"

set notification-error-bg       "#11121d"
set notification-error-fg       "#ee6d85"

set notification-warning-bg     "#11121d"
set notification-warning-fg     "#ee6d85"

set highlight-color             "#d7a65f"
set highlight-active-color      "#7199ee"

set completion-bg               "#1a1b2a"
set completion-fg               "#7199ee"

set completion-highlight-fg     "#a0a8cd"
set completion-highlight-bg     "#7199ee"

set recolor-lightcolor          "#11121d"
set recolor-darkcolor           "#a0a8cd"
