# Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

set default-bg                  "#3c4c55"
set default-fg                  "#556873"

set statusbar-fg                "#899ba6"
set statusbar-bg                "#6a7d89"

set inputbar-bg                 "#3c4c55"
set inputbar-fg                 "#556873"

set notification-bg             "#3c4c55"
set notification-fg             "#556873"

set notification-error-bg       "#3c4c55"
set notification-error-fg       "#83afe5"

set notification-warning-bg     "#3c4c55"
set notification-warning-fg     "#83afe5"

set highlight-color             "#a8ce93"
set highlight-active-color      "#83afe5"

set completion-bg               "#556873"
set completion-fg               "#83afe5"

set completion-highlight-fg     "#556873"
set completion-highlight-bg     "#83afe5"

set recolor-lightcolor          "#3c4c55"
set recolor-darkcolor           "#899ba6"
