# Base16 Materia
# Author: Defman21

set default-bg                  "#263238"
set default-fg                  "#2c393f"

set statusbar-fg                "#c9ccd3"
set statusbar-bg                "#37474f"

set inputbar-bg                 "#263238"
set inputbar-fg                 "#ffffff"

set notification-bg             "#263238"
set notification-fg             "#ffffff"

set notification-error-bg       "#263238"
set notification-error-fg       "#ec5f67"

set notification-warning-bg     "#263238"
set notification-warning-fg     "#ec5f67"

set highlight-color             "#ffcc00"
set highlight-active-color      "#89ddff"

set completion-bg               "#2c393f"
set completion-fg               "#89ddff"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#89ddff"

set recolor-lightcolor          "#263238"
set recolor-darkcolor           "#d5dbe5"
