# Base16 Stella
# Author: Shrimpram

set default-bg                  "#2b213c"
set default-fg                  "#362b48"

set statusbar-fg                "#7f7192"
set statusbar-bg                "#4d4160"

set inputbar-bg                 "#2b213c"
set inputbar-fg                 "#ebdcff"

set notification-bg             "#2b213c"
set notification-fg             "#ebdcff"

set notification-error-bg       "#2b213c"
set notification-error-fg       "#c79987"

set notification-warning-bg     "#2b213c"
set notification-warning-fg     "#c79987"

set highlight-color             "#c7c691"
set highlight-active-color      "#a5aad4"

set completion-bg               "#362b48"
set completion-fg               "#a5aad4"

set completion-highlight-fg     "#ebdcff"
set completion-highlight-bg     "#a5aad4"

set recolor-lightcolor          "#2b213c"
set recolor-darkcolor           "#b4a5c8"
