# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

set default-bg                  "#fdf0ed"
set default-fg                  "#fadad1"

set statusbar-fg                "#948c8a"
set statusbar-bg                "#f9cbbe"

set inputbar-bg                 "#fdf0ed"
set inputbar-fg                 "#201c1d"

set notification-bg             "#fdf0ed"
set notification-fg             "#201c1d"

set notification-error-bg       "#fdf0ed"
set notification-error-fg       "#f7939b"

set notification-warning-bg     "#fdf0ed"
set notification-warning-fg     "#f7939b"

set highlight-color             "#fbe0d9"
set highlight-active-color      "#da103f"

set completion-bg               "#fadad1"
set completion-fg               "#da103f"

set completion-highlight-fg     "#201c1d"
set completion-highlight-bg     "#da103f"

set recolor-lightcolor          "#fdf0ed"
set recolor-darkcolor           "#302c2d"
