# Base16 Blue Forest
# Author: alonsodomin (https://github.com/alonsodomin)

set default-bg                  "#141f2e"
set default-fg                  "#1e5c1e"

set statusbar-fg                "#1e5c1e"
set statusbar-bg                "#273e5c"

set inputbar-bg                 "#141f2e"
set inputbar-fg                 "#375780"

set notification-bg             "#141f2e"
set notification-fg             "#375780"

set notification-error-bg       "#141f2e"
set notification-error-fg       "#fffab1"

set notification-warning-bg     "#141f2e"
set notification-warning-fg     "#fffab1"

set highlight-color             "#91ccff"
set highlight-active-color      "#a2cff5"

set completion-bg               "#1e5c1e"
set completion-fg               "#a2cff5"

set completion-highlight-fg     "#375780"
set completion-highlight-bg     "#a2cff5"

set recolor-lightcolor          "#141f2e"
set recolor-darkcolor           "#91ccff"
