# Base16 Silk Dark
# Author: Gabriel Fontes (https://github.com/Misterio77)

set default-bg                  "#0e3c46"
set default-fg                  "#1d494e"

set statusbar-fg                "#9dc8cd"
set statusbar-bg                "#2a5054"

set inputbar-bg                 "#0e3c46"
set inputbar-fg                 "#d2faff"

set notification-bg             "#0e3c46"
set notification-fg             "#d2faff"

set notification-error-bg       "#0e3c46"
set notification-error-fg       "#fb6953"

set notification-warning-bg     "#0e3c46"
set notification-warning-fg     "#fb6953"

set highlight-color             "#fce380"
set highlight-active-color      "#46bddd"

set completion-bg               "#1d494e"
set completion-fg               "#46bddd"

set completion-highlight-fg     "#d2faff"
set completion-highlight-bg     "#46bddd"

set recolor-lightcolor          "#0e3c46"
set recolor-darkcolor           "#cbf2f7"
