# Base16 Primer Dark Dimmed
# Author: Jimmy Lin

set default-bg                  "#1c2128"
set default-fg                  "#373e47"

set statusbar-fg                "#768390"
set statusbar-bg                "#444c56"

set inputbar-bg                 "#1c2128"
set inputbar-fg                 "#cdd9e5"

set notification-bg             "#1c2128"
set notification-fg             "#cdd9e5"

set notification-error-bg       "#1c2128"
set notification-error-fg       "#f47067"

set notification-warning-bg     "#1c2128"
set notification-warning-fg     "#f47067"

set highlight-color             "#c69026"
set highlight-active-color      "#539bf5"

set completion-bg               "#373e47"
set completion-fg               "#539bf5"

set completion-highlight-fg     "#cdd9e5"
set completion-highlight-bg     "#539bf5"

set recolor-lightcolor          "#1c2128"
set recolor-darkcolor           "#adbac7"
