# Base16 Ayu Light
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

set default-bg                  "#fafafa"
set default-fg                  "#f3f4f5"

set statusbar-fg                "#828c99"
set statusbar-bg                "#f8f9fa"

set inputbar-bg                 "#fafafa"
set inputbar-fg                 "#1a1f29"

set notification-bg             "#fafafa"
set notification-fg             "#1a1f29"

set notification-error-bg       "#fafafa"
set notification-error-fg       "#f07178"

set notification-warning-bg     "#fafafa"
set notification-warning-fg     "#f07178"

set highlight-color             "#f2ae49"
set highlight-active-color      "#36a3d9"

set completion-bg               "#f3f4f5"
set completion-fg               "#36a3d9"

set completion-highlight-fg     "#1a1f29"
set completion-highlight-bg     "#36a3d9"

set recolor-lightcolor          "#fafafa"
set recolor-darkcolor           "#242936"
