# Base16 Material Darker
# Author: Nate Peterson

set default-bg                  "#212121"
set default-fg                  "#303030"

set statusbar-fg                "#b2ccd6"
set statusbar-bg                "#353535"

set inputbar-bg                 "#212121"
set inputbar-fg                 "#ffffff"

set notification-bg             "#212121"
set notification-fg             "#ffffff"

set notification-error-bg       "#212121"
set notification-error-fg       "#f07178"

set notification-warning-bg     "#212121"
set notification-warning-fg     "#f07178"

set highlight-color             "#ffcb6b"
set highlight-active-color      "#82aaff"

set completion-bg               "#303030"
set completion-fg               "#82aaff"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#82aaff"

set recolor-lightcolor          "#212121"
set recolor-darkcolor           "#eeffff"
