# Base16 Tokyo Night Terminal Dark
# Author: Michaël Ball

set default-bg                  "#16161e"
set default-fg                  "#1a1b26"

set statusbar-fg                "#787c99"
set statusbar-bg                "#2f3549"

set inputbar-bg                 "#16161e"
set inputbar-fg                 "#d5d6db"

set notification-bg             "#16161e"
set notification-fg             "#d5d6db"

set notification-error-bg       "#16161e"
set notification-error-fg       "#f7768e"

set notification-warning-bg     "#16161e"
set notification-warning-fg     "#f7768e"

set highlight-color             "#e0af68"
set highlight-active-color      "#7aa2f7"

set completion-bg               "#1a1b26"
set completion-fg               "#7aa2f7"

set completion-highlight-fg     "#d5d6db"
set completion-highlight-bg     "#7aa2f7"

set recolor-lightcolor          "#16161e"
set recolor-darkcolor           "#cbccd1"
