# Base16 Synth Midnight Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

set default-bg                  "#040404"
set default-fg                  "#141414"

set statusbar-fg                "#BFBBBF"
set statusbar-bg                "#242424"

set inputbar-bg                 "#040404"
set inputbar-fg                 "#FFFBFF"

set notification-bg             "#040404"
set notification-fg             "#FFFBFF"

set notification-error-bg       "#040404"
set notification-error-fg       "#B53B50"

set notification-warning-bg     "#040404"
set notification-warning-fg     "#B53B50"

set highlight-color             "#DAE84D"
set highlight-active-color      "#03AEFF"

set completion-bg               "#141414"
set completion-fg               "#03AEFF"

set completion-highlight-fg     "#FFFBFF"
set completion-highlight-bg     "#03AEFF"

set recolor-lightcolor          "#040404"
set recolor-darkcolor           "#EFEBEF"

set recolor                     "false"
set recolor-keephue             "false"
