# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

set default-bg                  "#fdf0ed"
set default-fg                  "#fadad1"

set statusbar-fg                "#948c8a"
set statusbar-bg                "#f9cbbe"

set inputbar-bg                 "#fdf0ed"
set inputbar-fg                 "#201c1d"

set notification-bg             "#fdf0ed"
set notification-fg             "#201c1d"

set notification-error-bg       "#fdf0ed"
set notification-error-fg       "#e95678"

set notification-warning-bg     "#fdf0ed"
set notification-warning-fg     "#e95678"

set highlight-color             "#fadad1"
set highlight-active-color      "#26bbd9"

set completion-bg               "#fadad1"
set completion-fg               "#26bbd9"

set completion-highlight-fg     "#201c1d"
set completion-highlight-bg     "#26bbd9"

set recolor-lightcolor          "#fdf0ed"
set recolor-darkcolor           "#302c2d"

set recolor                     "false"
set recolor-keephue             "false"
