# Base16 Tokyo Night Light
# Author: Michaël Ball

set default-bg                  "#d5d6db"
set default-fg                  "#cbccd1"

set statusbar-fg                "#4c505e"
set statusbar-bg                "#dfe0e5"

set inputbar-bg                 "#d5d6db"
set inputbar-fg                 "#1a1b26"

set notification-bg             "#d5d6db"
set notification-fg             "#1a1b26"

set notification-error-bg       "#d5d6db"
set notification-error-fg       "#343b58"

set notification-warning-bg     "#d5d6db"
set notification-warning-fg     "#343b58"

set highlight-color             "#166775"
set highlight-active-color      "#34548a"

set completion-bg               "#cbccd1"
set completion-fg               "#34548a"

set completion-highlight-fg     "#1a1b26"
set completion-highlight-bg     "#34548a"

set recolor-lightcolor          "#d5d6db"
set recolor-darkcolor           "#1a1b26"

set recolor                     "false"
set recolor-keephue             "false"
