# Base16 Tokyo Night Terminal Storm
# Author: Michaël Ball

set default-bg                  "#24283b"
set default-fg                  "#1a1b26"

set statusbar-fg                "#787c99"
set statusbar-bg                "#343a52"

set inputbar-bg                 "#24283b"
set inputbar-fg                 "#d5d6db"

set notification-bg             "#24283b"
set notification-fg             "#d5d6db"

set notification-error-bg       "#24283b"
set notification-error-fg       "#f7768e"

set notification-warning-bg     "#24283b"
set notification-warning-fg     "#f7768e"

set highlight-color             "#e0af68"
set highlight-active-color      "#7aa2f7"

set completion-bg               "#1a1b26"
set completion-fg               "#7aa2f7"

set completion-highlight-fg     "#d5d6db"
set completion-highlight-bg     "#7aa2f7"

set recolor-lightcolor          "#24283b"
set recolor-darkcolor           "#cbccd1"

set recolor                     "false"
set recolor-keephue             "false"
