# Base16 Da One Ocean
# Author: NNB (https://github.com/NNBnh)

set default-bg                  "#171726"
set default-fg                  "#22273d"

set statusbar-fg                "#c8c8c8"
set statusbar-bg                "#525866"

set inputbar-bg                 "#171726"
set inputbar-fg                 "#ffffff"

set notification-bg             "#171726"
set notification-fg             "#ffffff"

set notification-error-bg       "#171726"
set notification-error-fg       "#fa7883"

set notification-warning-bg     "#171726"
set notification-warning-fg     "#fa7883"

set highlight-color             "#ff9470"
set highlight-active-color      "#6bb8ff"

set completion-bg               "#22273d"
set completion-fg               "#6bb8ff"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#6bb8ff"

set recolor-lightcolor          "#171726"
set recolor-darkcolor           "#ffffff"

set recolor                     "false"
set recolor-keephue             "false"
