# Base16 Da One Gray
# Author: NNB (https://github.com/NNBnh)

set default-bg                  "#181818"
set default-fg                  "#282828"

set statusbar-fg                "#c8c8c8"
set statusbar-bg                "#585858"

set inputbar-bg                 "#181818"
set inputbar-fg                 "#ffffff"

set notification-bg             "#181818"
set notification-fg             "#ffffff"

set notification-error-bg       "#181818"
set notification-error-fg       "#fa7883"

set notification-warning-bg     "#181818"
set notification-warning-fg     "#fa7883"

set highlight-color             "#ff9470"
set highlight-active-color      "#6bb8ff"

set completion-bg               "#282828"
set completion-fg               "#6bb8ff"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#6bb8ff"

set recolor-lightcolor          "#181818"
set recolor-darkcolor           "#ffffff"

set recolor                     "false"
set recolor-keephue             "false"
