# Base16 ShadeSmear Light
# Author: Kyle Giammarco (http://kyle.giammar.co)

set default-bg                  "#dbdbdb"
set default-fg                  "#e4e4e4"

set statusbar-fg                "#1c1c1c"
set statusbar-bg                "#c0c0c0"

set inputbar-bg                 "#dbdbdb"
set inputbar-fg                 "#e4e4e4"

set notification-bg             "#dbdbdb"
set notification-fg             "#e4e4e4"

set notification-error-bg       "#dbdbdb"
set notification-error-fg       "#cc5450"

set notification-warning-bg     "#dbdbdb"
set notification-warning-fg     "#cc5450"

set highlight-color             "#307878"
set highlight-active-color      "#376388"

set completion-bg               "#e4e4e4"
set completion-fg               "#376388"

set completion-highlight-fg     "#e4e4e4"
set completion-highlight-bg     "#376388"

set recolor-lightcolor          "#dbdbdb"
set recolor-darkcolor           "#1c1c1c"

set recolor                     "false"
set recolor-keephue             "false"
