# Base16 ShadeSmear Dark
# Author: Kyle Giammarco (http://kyle.giammar.co)

set default-bg                  "#232323"
set default-fg                  "#1c1c1c"

set statusbar-fg                "#e4e4e4"
set statusbar-bg                "#4e4e4e"

set inputbar-bg                 "#232323"
set inputbar-fg                 "#1c1c1c"

set notification-bg             "#232323"
set notification-fg             "#1c1c1c"

set notification-error-bg       "#232323"
set notification-error-fg       "#cc5450"

set notification-warning-bg     "#232323"
set notification-warning-fg     "#cc5450"

set highlight-color             "#307878"
set highlight-active-color      "#376388"

set completion-bg               "#1c1c1c"
set completion-fg               "#376388"

set completion-highlight-fg     "#1c1c1c"
set completion-highlight-bg     "#376388"

set recolor-lightcolor          "#232323"
set recolor-darkcolor           "#e4e4e4"

set recolor                     "false"
set recolor-keephue             "false"
