# Base16 Tokyodark
# Author: Tiagovla (https://github.com/tiagovla/)

set default-bg                  "#11121d"
set default-fg                  "#151621"

set statusbar-fg                "#1b1c27"
set statusbar-bg                "#43444f"

set inputbar-bg                 "#11121d"
set inputbar-fg                 "#2c2d38"

set notification-bg             "#11121d"
set notification-fg             "#2c2d38"

set notification-error-bg       "#11121d"
set notification-error-fg       "#a485dd"

set notification-warning-bg     "#11121d"
set notification-warning-fg     "#a485dd"

set highlight-color             "#7199ee"
set highlight-active-color      "#95c561"

set completion-bg               "#151621"
set completion-fg               "#95c561"

set completion-highlight-fg     "#2c2d38"
set completion-highlight-bg     "#95c561"

set recolor-lightcolor          "#11121d"
set recolor-darkcolor           "#555661"

set recolor                     "false"
set recolor-keephue             "false"
