# Base16 Gotham
# Author: Andrea Leopardi (arranged by Brett Jones)

set default-bg                  "#0c1014"
set default-fg                  "#11151c"

set statusbar-fg                "#245361"
set statusbar-bg                "#091f2e"

set inputbar-bg                 "#0c1014"
set inputbar-fg                 "#d3ebe9"

set notification-bg             "#0c1014"
set notification-fg             "#d3ebe9"

set notification-error-bg       "#0c1014"
set notification-error-fg       "#c23127"

set notification-warning-bg     "#0c1014"
set notification-warning-fg     "#c23127"

set highlight-color             "#edb443"
set highlight-active-color      "#195466"

set completion-bg               "#11151c"
set completion-fg               "#195466"

set completion-highlight-fg     "#d3ebe9"
set completion-highlight-bg     "#195466"

set recolor-lightcolor          "#0c1014"
set recolor-darkcolor           "#99d1ce"

set recolor                     "false"
set recolor-keephue             "false"
