# Base16 emil
# Author: limelier

set default-bg                  "#efefef"
set default-fg                  "#bebed2"

set statusbar-fg                "#505063"
set statusbar-bg                "#9e9eaf"

set inputbar-bg                 "#efefef"
set inputbar-fg                 "#1a1a2f"

set notification-bg             "#efefef"
set notification-fg             "#1a1a2f"

set notification-error-bg       "#efefef"
set notification-error-fg       "#f43979"

set notification-warning-bg     "#efefef"
set notification-warning-fg     "#f43979"

set highlight-color             "#ff669b"
set highlight-active-color      "#471397"

set completion-bg               "#bebed2"
set completion-fg               "#471397"

set completion-highlight-fg     "#1a1a2f"
set completion-highlight-bg     "#471397"

set recolor-lightcolor          "#efefef"
set recolor-darkcolor           "#22223a"

set recolor                     "false"
set recolor-keephue             "false"
