# Base16 Ayu Mirage
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

set default-bg                  "#171b24"
set default-fg                  "#1f2430"

set statusbar-fg                "#8a9199"
set statusbar-bg                "#242936"

set inputbar-bg                 "#171b24"
set inputbar-fg                 "#f3f4f5"

set notification-bg             "#171b24"
set notification-fg             "#f3f4f5"

set notification-error-bg       "#171b24"
set notification-error-fg       "#f28779"

set notification-warning-bg     "#171b24"
set notification-warning-fg     "#f28779"

set highlight-color             "#ffd173"
set highlight-active-color      "#5ccfe6"

set completion-bg               "#1f2430"
set completion-fg               "#5ccfe6"

set completion-highlight-fg     "#f3f4f5"
set completion-highlight-bg     "#5ccfe6"

set recolor-lightcolor          "#171b24"
set recolor-darkcolor           "#d9d7ce"

set recolor                     "false"
set recolor-keephue             "false"
