# Base16 vice
# Author: Thomas Leon Highbaugh thighbaugh@zoho.com

set default-bg                  "#17191e"
set default-fg                  "#22262d"

set statusbar-fg                "#555e70"
set statusbar-bg                "#3c3f4c"

set inputbar-bg                 "#17191e"
set inputbar-fg                 "#f4f4f7"

set notification-bg             "#17191e"
set notification-fg             "#f4f4f7"

set notification-error-bg       "#17191e"
set notification-error-fg       "#ff29a8"

set notification-warning-bg     "#17191e"
set notification-warning-fg     "#ff29a8"

set highlight-color             "#f0ffaa"
set highlight-active-color      "#00eaff"

set completion-bg               "#22262d"
set completion-fg               "#00eaff"

set completion-highlight-fg     "#f4f4f7"
set completion-highlight-bg     "#00eaff"

set recolor-lightcolor          "#17191e"
set recolor-darkcolor           "#b2bfd9"

set recolor                     "false"
set recolor-keephue             "false"
