# Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)

set default-bg                  "#16130f"
set default-fg                  "#2c2620"

set statusbar-fg                "#8a8075"
set statusbar-bg                "#433b32"

set inputbar-bg                 "#16130f"
set inputbar-fg                 "#dbd6d1"

set notification-bg             "#16130f"
set notification-fg             "#dbd6d1"

set notification-error-bg       "#16130f"
set notification-error-fg       "#826d57"

set notification-warning-bg     "#16130f"
set notification-warning-fg     "#826d57"

set highlight-color             "#6d8257"
set highlight-active-color      "#6d5782"

set completion-bg               "#2c2620"
set completion-fg               "#6d5782"

set completion-highlight-fg     "#dbd6d1"
set completion-highlight-bg     "#6d5782"

set recolor-lightcolor          "#16130f"
set recolor-darkcolor           "#beb6ae"

set recolor                     "false"
set recolor-keephue             "false"
