# Base16 better-contrast
# Author: Ben Mayoras

set default-bg                  "#182430"
set default-fg                  "#243c54"

set statusbar-fg                "#74afe7"
set statusbar-bg                "#46290a"

set inputbar-bg                 "#182430"
set inputbar-fg                 "#8f98a0"

set notification-bg             "#182430"
set notification-fg             "#8f98a0"

set notification-error-bg       "#182430"
set notification-error-fg       "#4ce587"

set notification-warning-bg     "#182430"
set notification-warning-fg     "#4ce587"

set highlight-color             "#82aaff"
set highlight-active-color      "#82aaff"

set completion-bg               "#243c54"
set completion-fg               "#82aaff"

set completion-highlight-fg     "#8f98a0"
set completion-highlight-bg     "#82aaff"

set recolor-lightcolor          "#182430"
set recolor-darkcolor           "#ddeaf6"

set recolor                     "false"
set recolor-keephue             "false"
