# Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)

set default-bg                  "#181818"
set default-fg                  "#151515"

set statusbar-fg                "#b9b9b9"
set statusbar-bg                "#464646"

set inputbar-bg                 "#181818"
set inputbar-fg                 "#eeeeee"

set notification-bg             "#181818"
set notification-fg             "#eeeeee"

set notification-error-bg       "#181818"
set notification-error-fg       "#fd886b"

set notification-warning-bg     "#181818"
set notification-warning-fg     "#fd886b"

set highlight-color             "#fecb6e"
set highlight-active-color      "#20bcfc"

set completion-bg               "#151515"
set completion-fg               "#20bcfc"

set completion-highlight-fg     "#eeeeee"
set completion-highlight-bg     "#20bcfc"

set recolor-lightcolor          "#181818"
set recolor-darkcolor           "#e8e8e8"

set recolor                     "false"
set recolor-keephue             "false"
