# Base16 Spaceduck
# Author: Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)

set default-bg                  "#16172d"
set default-fg                  "#1b1c36"

set statusbar-fg                "#818596"
set statusbar-bg                "#30365f"

set inputbar-bg                 "#16172d"
set inputbar-fg                 "#ffffff"

set notification-bg             "#16172d"
set notification-fg             "#ffffff"

set notification-error-bg       "#16172d"
set notification-error-fg       "#e33400"

set notification-warning-bg     "#16172d"
set notification-warning-fg     "#e33400"

set highlight-color             "#f2ce00"
set highlight-active-color      "#7a5ccc"

set completion-bg               "#1b1c36"
set completion-fg               "#7a5ccc"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#7a5ccc"

set recolor-lightcolor          "#16172d"
set recolor-darkcolor           "#c1c3cc"

set recolor                     "false"
set recolor-keephue             "false"
