# Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)

set default-bg                  "#18262f"
set default-fg                  "#222e38"

set statusbar-fg                "#85939e"
set statusbar-bg                "#586875"

set inputbar-bg                 "#18262f"
set inputbar-fg                 "#f5f7fa"

set notification-bg             "#18262f"
set notification-fg             "#f5f7fa"

set notification-error-bg       "#18262f"
set notification-error-fg       "#ef5253"

set notification-warning-bg     "#18262f"
set notification-warning-fg     "#ef5253"

set highlight-color             "#e4b51c"
set highlight-active-color      "#33b5e1"

set completion-bg               "#222e38"
set completion-fg               "#33b5e1"

set completion-highlight-fg     "#f5f7fa"
set completion-highlight-bg     "#33b5e1"

set recolor-lightcolor          "#18262f"
set recolor-darkcolor           "#e8e9ed"

set recolor                     "false"
set recolor-keephue             "false"
