# Base16 EverForest
# Author: sainnhe

set default-bg                  "#2b3339"
set default-fg                  "#323c41"

set statusbar-fg                "#a59572"
set statusbar-bg                "#3a4248"

set inputbar-bg                 "#2b3339"
set inputbar-fg                 "#fff9e8"

set notification-bg             "#2b3339"
set notification-fg             "#fff9e8"

set notification-error-bg       "#2b3339"
set notification-error-fg       "#e67e80"

set notification-warning-bg     "#2b3339"
set notification-warning-fg     "#e67e80"

set highlight-color             "#dbbc7f"
set highlight-active-color      "#7fbbb3"

set completion-bg               "#323c41"
set completion-fg               "#7fbbb3"

set completion-highlight-fg     "#fff9e8"
set completion-highlight-bg     "#7fbbb3"

set recolor-lightcolor          "#2b3339"
set recolor-darkcolor           "#e9e8d2"

set recolor                     "false"
set recolor-keephue             "false"
