# Base16 Classic Dark
# Author: Jason Heeris (http://heeris.id.au)

set default-bg                  "#151515"
set default-fg                  "#202020"

set statusbar-fg                "#b0b0b0"
set statusbar-bg                "#303030"

set inputbar-bg                 "#151515"
set inputbar-fg                 "#f5f5f5"

set notification-bg             "#151515"
set notification-fg             "#f5f5f5"

set notification-error-bg       "#151515"
set notification-error-fg       "#ac4142"

set notification-warning-bg     "#151515"
set notification-warning-fg     "#ac4142"

set highlight-color             "#f4bf75"
set highlight-active-color      "#6a9fb5"

set completion-bg               "#202020"
set completion-fg               "#6a9fb5"

set completion-highlight-fg     "#f5f5f5"
set completion-highlight-bg     "#6a9fb5"

set recolor-lightcolor          "#151515"
set recolor-darkcolor           "#e0e0e0"

set recolor                     "false"
set recolor-keephue             "false"
