# Base16 Gruvbox Material Dark, Soft
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

set default-bg                  "#32302f"
set default-fg                  "#3c3836"

set statusbar-fg                "#bdae93"
set statusbar-bg                "#5a524c"

set inputbar-bg                 "#32302f"
set inputbar-fg                 "#fbf1c7"

set notification-bg             "#32302f"
set notification-fg             "#fbf1c7"

set notification-error-bg       "#32302f"
set notification-error-fg       "#ea6962"

set notification-warning-bg     "#32302f"
set notification-warning-fg     "#ea6962"

set highlight-color             "#d8a657"
set highlight-active-color      "#7daea3"

set completion-bg               "#3c3836"
set completion-fg               "#7daea3"

set completion-highlight-fg     "#fbf1c7"
set completion-highlight-bg     "#7daea3"

set recolor-lightcolor          "#32302f"
set recolor-darkcolor           "#ebdbb2"

set recolor                     "false"
set recolor-keephue             "false"
