# Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

set default-bg                  "#282b35"
set default-fg                  "#3d4048"

set statusbar-fg                "#7e8086"
set statusbar-bg                "#53555d"

set inputbar-bg                 "#282b35"
set inputbar-fg                 "#bebfc2"

set notification-bg             "#282b35"
set notification-fg             "#bebfc2"

set notification-error-bg       "#282b35"
set notification-error-fg       "#b21889"

set notification-warning-bg     "#282b35"
set notification-warning-fg     "#b21889"

set highlight-color             "#438288"
set highlight-active-color      "#790ead"

set completion-bg               "#3d4048"
set completion-fg               "#790ead"

set completion-highlight-fg     "#bebfc2"
set completion-highlight-bg     "#790ead"

set recolor-lightcolor          "#282b35"
set recolor-darkcolor           "#a9aaae"

set recolor                     "false"
set recolor-keephue             "false"
