# Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)

set default-bg                  "#190134"
set default-fg                  "#392551"

set statusbar-fg                "#9c92a8"
set statusbar-bg                "#5a496e"

set inputbar-bg                 "#190134"
set inputbar-fg                 "#feffff"

set notification-bg             "#190134"
set notification-fg             "#feffff"

set notification-error-bg       "#190134"
set notification-error-fg       "#27d9d5"

set notification-warning-bg     "#190134"
set notification-warning-fg     "#27d9d5"

set highlight-color             "#8f6c97"
set highlight-active-color      "#bd0152"

set completion-bg               "#392551"
set completion-fg               "#bd0152"

set completion-highlight-fg     "#feffff"
set completion-highlight-bg     "#bd0152"

set recolor-lightcolor          "#190134"
set recolor-darkcolor           "#dedae2"

set recolor                     "false"
set recolor-keephue             "false"
