# Base16 Tokyo City Terminal Dark
# Author: Michaël Ball

set default-bg                  "#171d23"
set default-fg                  "#1d252c"

set statusbar-fg                "#b7c5d3"
set statusbar-bg                "#28323a"

set inputbar-bg                 "#171d23"
set inputbar-fg                 "#fbfbfd"

set notification-bg             "#171d23"
set notification-fg             "#fbfbfd"

set notification-error-bg       "#171d23"
set notification-error-fg       "#d95468"

set notification-warning-bg     "#171d23"
set notification-warning-fg     "#d95468"

set highlight-color             "#ebbf83"
set highlight-active-color      "#539afc"

set completion-bg               "#1d252c"
set completion-fg               "#539afc"

set completion-highlight-fg     "#fbfbfd"
set completion-highlight-bg     "#539afc"

set recolor-lightcolor          "#171d23"
set recolor-darkcolor           "#f6f6f8"

set recolor                     "false"
set recolor-keephue             "false"
