# Base16 Primer Dark
# Author: Jimmy Lin

set default-bg                  "#010409"
set default-fg                  "#21262d"

set statusbar-fg                "#8b949e"
set statusbar-bg                "#30363d"

set inputbar-bg                 "#010409"
set inputbar-fg                 "#f0f6fc"

set notification-bg             "#010409"
set notification-fg             "#f0f6fc"

set notification-error-bg       "#010409"
set notification-error-fg       "#ff7b72"

set notification-warning-bg     "#010409"
set notification-warning-fg     "#ff7b72"

set highlight-color             "#d29922"
set highlight-active-color      "#58a6ff"

set completion-bg               "#21262d"
set completion-fg               "#58a6ff"

set completion-highlight-fg     "#f0f6fc"
set completion-highlight-bg     "#58a6ff"

set recolor-lightcolor          "#010409"
set recolor-darkcolor           "#c9d1d9"

set recolor                     "false"
set recolor-keephue             "false"
