# Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)

set default-bg                  "#00002a"
set default-fg                  "#20204a"

set statusbar-fg                "#b0b0da"
set statusbar-bg                "#30305a"

set inputbar-bg                 "#00002a"
set inputbar-fg                 "#f5f5ff"

set notification-bg             "#00002a"
set notification-fg             "#f5f5ff"

set notification-error-bg       "#00002a"
set notification-error-fg       "#ff4242"

set notification-warning-bg     "#00002a"
set notification-warning-fg     "#ff4242"

set highlight-color             "#f3e877"
set highlight-active-color      "#66b0ff"

set completion-bg               "#20204a"
set completion-fg               "#66b0ff"

set completion-highlight-fg     "#f5f5ff"
set completion-highlight-bg     "#66b0ff"

set recolor-lightcolor          "#00002a"
set recolor-darkcolor           "#e0e0ff"

set recolor                     "false"
set recolor-keephue             "false"
