# Base16 Gruvbox Material Dark, Medium
# Author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

set default-bg                  "#202020"
set default-fg                  "#2a2827"

set statusbar-fg                "#bdae93"
set statusbar-bg                "#504945"

set inputbar-bg                 "#202020"
set inputbar-fg                 "#fbf1c7"

set notification-bg             "#202020"
set notification-fg             "#fbf1c7"

set notification-error-bg       "#202020"
set notification-error-fg       "#ea6962"

set notification-warning-bg     "#202020"
set notification-warning-fg     "#ea6962"

set highlight-color             "#d8a657"
set highlight-active-color      "#7daea3"

set completion-bg               "#2a2827"
set completion-fg               "#7daea3"

set completion-highlight-fg     "#fbf1c7"
set completion-highlight-bg     "#7daea3"

set recolor-lightcolor          "#202020"
set recolor-darkcolor           "#ebdbb2"

set recolor                     "false"
set recolor-keephue             "false"
