# Base16 Brush Trees Dark
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

set default-bg                  "#485867"
set default-fg                  "#5a6d7a"

set statusbar-fg                "#98afb5"
set statusbar-bg                "#6d828e"

set inputbar-bg                 "#485867"
set inputbar-fg                 "#e3efef"

set notification-bg             "#485867"
set notification-fg             "#e3efef"

set notification-error-bg       "#485867"
set notification-error-fg       "#b38686"

set notification-warning-bg     "#485867"
set notification-warning-fg     "#b38686"

set highlight-color             "#aab386"
set highlight-active-color      "#868cb3"

set completion-bg               "#5a6d7a"
set completion-fg               "#868cb3"

set completion-highlight-fg     "#e3efef"
set completion-highlight-bg     "#868cb3"

set recolor-lightcolor          "#485867"
set recolor-darkcolor           "#c9dbdc"

set recolor                     "false"
set recolor-keephue             "false"
