# Base16 Tokyo Night Dark
# Author: Michaël Ball

set default-bg                  "#1a1b26"
set default-fg                  "#16161e"

set statusbar-fg                "#787c99"
set statusbar-bg                "#2f3549"

set inputbar-bg                 "#1a1b26"
set inputbar-fg                 "#d5d6db"

set notification-bg             "#1a1b26"
set notification-fg             "#d5d6db"

set notification-error-bg       "#1a1b26"
set notification-error-fg       "#c0caf5"

set notification-warning-bg     "#1a1b26"
set notification-warning-fg     "#c0caf5"

set highlight-color             "#0db9d7"
set highlight-active-color      "#2ac3de"

set completion-bg               "#16161e"
set completion-fg               "#2ac3de"

set completion-highlight-fg     "#d5d6db"
set completion-highlight-bg     "#2ac3de"

set recolor-lightcolor          "#1a1b26"
set recolor-darkcolor           "#cbccd1"

set recolor                     "false"
set recolor-keephue             "false"
