# Base16 Unikitty Reversible
# Author: Josh W Lewis (@joshwlewis)

set default-bg                  "#2e2a31"
set default-fg                  "#4b484e"

set statusbar-fg                "#a5a3a6"
set statusbar-bg                "#69666b"

set inputbar-bg                 "#2e2a31"
set inputbar-fg                 "#ffffff"

set notification-bg             "#2e2a31"
set notification-fg             "#ffffff"

set notification-error-bg       "#2e2a31"
set notification-error-fg       "#d8137f"

set notification-warning-bg     "#2e2a31"
set notification-warning-fg     "#d8137f"

set highlight-color             "#dc8a0e"
set highlight-active-color      "#7864fa"

set completion-bg               "#4b484e"
set completion-fg               "#7864fa"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#7864fa"

set recolor-lightcolor          "#2e2a31"
set recolor-darkcolor           "#e1e0e1"

set recolor                     "false"
set recolor-keephue             "false"
