# Base16 Nord
# Author: arcticicestudio

set default-bg                  "#2e3440"
set default-fg                  "#3b4252"

set statusbar-fg                "#d8dee9"
set statusbar-bg                "#434c5e"

set inputbar-bg                 "#2e3440"
set inputbar-fg                 "#8fbcbb"

set notification-bg             "#2e3440"
set notification-fg             "#8fbcbb"

set notification-error-bg       "#2e3440"
set notification-error-fg       "#bf616a"

set notification-warning-bg     "#2e3440"
set notification-warning-fg     "#bf616a"

set highlight-color             "#ebcb8b"
set highlight-active-color      "#81a1c1"

set completion-bg               "#3b4252"
set completion-fg               "#81a1c1"

set completion-highlight-fg     "#8fbcbb"
set completion-highlight-bg     "#81a1c1"

set recolor-lightcolor          "#2e3440"
set recolor-darkcolor           "#eceff4"

set recolor                     "false"
set recolor-keephue             "false"
