# Base16 lime
# Author: limelier

set default-bg                  "#1a1a2f"
set default-fg                  "#202030"

set statusbar-fg                "#515155"
set statusbar-bg                "#2a2a3f"

set inputbar-bg                 "#1a1a2f"
set inputbar-fg                 "#fff8e1"

set notification-bg             "#1a1a2f"
set notification-fg             "#fff8e1"

set notification-error-bg       "#1a1a2f"
set notification-error-fg       "#ff662a"

set notification-warning-bg     "#1a1a2f"
set notification-warning-fg     "#ff662a"

set highlight-color             "#ffd15e"
set highlight-active-color      "#2b926f"

set completion-bg               "#202030"
set completion-fg               "#2b926f"

set completion-highlight-fg     "#fff8e1"
set completion-highlight-bg     "#2b926f"

set recolor-lightcolor          "#1a1a2f"
set recolor-darkcolor           "#fff2d1"

set recolor                     "false"
set recolor-keephue             "false"
