# Base16 Apprentice
# Author: romainl

set default-bg                  "#262626"
set default-fg                  "#303030"

set statusbar-fg                "#787878"
set statusbar-bg                "#333333"

set inputbar-bg                 "#262626"
set inputbar-fg                 "#ffffff"

set notification-bg             "#262626"
set notification-fg             "#ffffff"

set notification-error-bg       "#262626"
set notification-error-fg       "#5f8787"

set notification-warning-bg     "#262626"
set notification-warning-fg     "#5f8787"

set highlight-color             "#5f8787"
set highlight-active-color      "#ffffaf"

set completion-bg               "#303030"
set completion-fg               "#ffffaf"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#ffffaf"

set recolor-lightcolor          "#262626"
set recolor-darkcolor           "#c9c9c9"

set recolor                     "false"
set recolor-keephue             "false"
