# Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

set default-bg                  "#222222"
set default-fg                  "#313131"

set statusbar-fg                "#5a5a5a"
set statusbar-bg                "#555d55"

set inputbar-bg                 "#222222"
set inputbar-fg                 "#ffffe6"

set notification-bg             "#222222"
set notification-fg             "#ffffe6"

set notification-error-bg       "#222222"
set notification-error-fg       "#c88c8c"

set notification-warning-bg     "#222222"
set notification-warning-fg     "#c88c8c"

set highlight-color             "#d8b56d"
set highlight-active-color      "#537c9c"

set completion-bg               "#313131"
set completion-fg               "#537c9c"

set completion-highlight-fg     "#ffffe6"
set completion-highlight-bg     "#537c9c"

set recolor-lightcolor          "#222222"
set recolor-darkcolor           "#c3c3b4"

set recolor                     "false"
set recolor-keephue             "false"
